
.columnTwoA:after {
      content: url(/etc/clientlibs/wegmans/main/images/columnTwoA.jpg);

}

.columnTwoB:after {
      content: url(/etc/clientlibs/wegmans/main/images/columnTwoB.jpg);

}

.columnTwoC:after {
      content: url(/etc/clientlibs/wegmans/main/images/columnTwoC.jpg);

}

